name: Publish block to preview

on:
  workflow_dispatch:
    inputs:
      PREVIEW_DEPLOYMENT_URL:
        description: "Vercel Preview Deployment, one of https://vercel.com/hashintel/blockprotocol/deployments?environment=preview"
        required: true

jobs:
  lint:
    name: Publish
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build block
        run: yarn build

      - name: Publish block
        run: npx blockprotocol@latest publish
        env:
          BLOCK_PROTOCOL_API_KEY: ${{ secrets.BLOCK_PROTOCOL_API_KEY_TLDRAW_PREVIEW }}
          BLOCK_PROTOCOL_SITE_HOST: ${{ github.event.inputs.PREVIEW_DEPLOYMENT_URL }}
